@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
   display: flex;
   height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #242424;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-libary {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-libary p:hover{
background-color: #0400fc;
}
.nav-libary i, .nav-libary p {
 color: #B7B3B6;
 font-size: 14px;
}

.nav-logo i {
    font-size: 24px;
    cursor: pointer;   
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}
.nav-playlist button, .nav-podcast button  {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist p, .nav-podcast p  {
    font-size: 12px;
}

.nav-footer{
    margin-top: auto;
}

.nav-footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 100%);
    color: #ffffff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
  
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.artista, .album {
   
    gap: 24px;
    margin-bottom: 40px;
}

.artista, .album {
    background-color: #181818;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition:  background-color 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    
}

.artista:hover, .album:hover{
    background-color: #05036b;
    
}

.artista img, .album img{
    width: 10%;
    max-height: 70%;
    border-radius: 20%;
   align-items: center;
   
}



.artista p , .album p {
font-size: 10px;
color: #B7B3B6;
display: flex;

}

.content {
    margin-top: 40px;
}
 
.content h2 {
    margin-bottom: 10px;
}

.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient( 90deg, #000000, #0400fc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2 {
font-size: 14px;
}

.banner p {
font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: #000;
}

.nav-podcast button:hover, .nav-playlist button:hover {

    background-color: #0400fc;
}

body {
    background: linear-gradient( 90deg, #000000, #0400fc);
}
